:root {
    --dark: #424242;
    --darker: #383839;
    --darkest: #1f1f20;
    --light-purple: #6a5a6d;
    --purple: #4f1661;
    --blue: #3135aa;
    --darkblue: #302f40;
    --darkerblue: #41414e;
    --light-blue: #c0eeff;
    --white: #ffffff;
}

* {
    font-family: 'Asap', sans-serif;
}

body {
    background: var(--light-blue);
}

#calculator {
    width: 330px;
    height: 590px;
    background: var(--darkest);
    border-radius: 20px;  /*本体の角丸く*/
    margin: 40px auto;  /*中央に配置*/
    /*子要素を中央に配置*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    /*要素がいっぱいになったら改行*/
}

input {
    border: none;
    background: none;
}

#calculate-window {
    width: 300px;
    height: 170px;
    background: var(--darkblue);
    border-radius: 10px;  /*計算結果の窓部分の角を丸く*/
    margin-top: 20px;
}

#current-expression {
    text-align: right;  /*テキストを右寄せ*/
    width: 290px;
    font-size: 50px;
    color: var(--white);
    margin-top: 50px;
}

#result {
    width: 290px;
    font-size: 40px;
    color: var(--white);
    margin-top: 0;
}

.buttons {
    width: 300px;
    height: 385px;
    margin-top: 10px;
    margin-bottom: 5px;
    /*子要素を均等に配置*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons button {
    cursor: pointer;    /*ボタンを上にカーソルを置いたら指になる*/
    font-size: 30px;
    height: 70px;
    border: none;   /*ボタンを枠線を消す*/
    color: var(--white);    /*文字の色*/
}

.buttons button:hover { /*ボタンの上にカーソルが置かれている時*/
    opacity: 0.7;
}

.buttons button:active {    /*ボrンが押された時*/
    opacity: 0.5;
}

.ac {
    width: 145px;
    background-color: var(--purple);    /*ボタンの色*/
    border-radius: 10px;
}

.ce {
    width: 145px;
    background-color: var(--light-purple);    
    border-radius: 10px;
}

.number {
    width: 70px;
    background-color: var(--darker);    
    border-radius: 50%; /*ボタンを丸く*/
}

.decimal-point {
    width: 70px;
    background-color: var(--darker);    
    border-radius: 50%;
}

.operator {
    width: 70px;
    background-color: var(--darkerblue);    
    border-radius: 50%;
}

.equal {
    width: 70px;
    background-color: var(--blue);   
    border-radius: 50%;
}

