:root {
    --dark: #424242;
    --darker: #383839;
    --darkest: #1f1f20;
    --gray: #535353;
    --purple: #4f1661;
    --blue: #3135aa;
    --light-blue: #9be4ff;
    --white: #ffffff;
}

* {
    font-family: 'Asap', sans-serif;
}

body {
    background: var(--light-blue);
}

.calculator {
    width: 330px;
    height: 600px;
    background: var(--darkest);
    border-radius: 20px;  /*本体の角丸く*/
    margin: 0 auto;  /*中央に配置*/
    /*子要素を中央に配置*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    /*要素がいっぱいになったら改行*/
}

.calculate-window {
    width: 300px;
    height: 200px;
    background: var(--dark);
    border-radius: 10px;  /*計算結果の窓部分の角を丸く*/
    margin-top: 10px;
}

.buttons {
    width: 300px;
    height: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*子要素を均等に配置*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons button {
    font-size: 30px;
    width: 70px;
    height: 70px;
    border: none;   /*ボタンを枠線を消す*/
    color: var(--white);    /*文字の色*/
}

#ac {
    width: 140px;
    background-color: var(--purple);    /*ボタンの色*/
    border-radius: 10px;
}

#ce {
    width: 140px;
    background-color: var(--gray);    /*ボタンの色*/
    border-radius: 10px;
}

#number {
    background-color: var(--darker);    /*ボタンの色*/
    border-radius: 50%; /*ボタンを丸く*/
}

#decimal-point {
    background-color: var(--darker);    /*ボタンの色*/
    border-radius: 50%;
}

#operator {
    background-color: var(--gray);    /*ボタンの色*/
    border-radius: 50%;
}

#equal {
    background-color: var(--blue);    /*ボタンの色*/
    border-radius: 50%;
}

